## Question 1:
__Do the market basket analysis with Bread_Basket dataset.__

In [5]:
import numpy as np
import pandas as pd
import os
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [6]:
!pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\sharv\anaconda3\lib\site-packages (0.17.3)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\sharv\anaconda3\lib\site-packages (from mlxtend) (3.2.2)
Requirement already satisfied: setuptools in c:\users\sharv\anaconda3\lib\site-packages (from mlxtend) (49.2.0.post20200714)
Requirement already satisfied: numpy>=1.16.2 in c:\users\sharv\anaconda3\lib\site-packages (from mlxtend) (1.18.5)
Requirement already satisfied: pandas>=0.24.2 in c:\users\sharv\anaconda3\lib\site-packages (from mlxtend) (1.0.5)
Requirement already satisfied: joblib>=0.13.2 in c:\users\sharv\anaconda3\lib\site-packages (from mlxtend) (0.16.0)
Requirement already satisfied: scipy>=1.2.1 in c:\users\sharv\anaconda3\lib\site-packages (from mlxtend) (1.5.0)
Requirement already satisfied: scikit-learn>=0.20.3 in c:\users\sharv\anaconda3\lib\site-packages (from mlxtend) (0.23.1)
Requirement already satisfied: cycler>=0.10 in c:\users\sharv\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\sharv\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\sharv\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\sharv\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\sharv\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2020.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\sharv\anaconda3\lib\site-packages (from scikit-learn>=0.20.3->mlxtend) (2.1.0)
Requirement already satisfied: six in c:\users\sharv\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.15.0)

In [8]:
os.chdir('D:\\aiml')

In [10]:
data = pd.read_csv('BreadBasket_DMS - Arindam Dev.csv')
data.head()

         Date      Time  Transaction           Item
0  2016-10-30  09:58:11            1          Bread
1  2016-10-30  10:05:34            2   Scandinavian
2  2016-10-30  10:05:34            2   Scandinavian
3  2016-10-30  10:07:57            3  Hot chocolate
4  2016-10-30  10:07:57            3            Jam

In [11]:
data['Quantity'] = np.nan
data['Quantity'] = data['Quantity'].fillna(1)

In [12]:
data.head()

         Date      Time  Transaction           Item  Quantity
0  2016-10-30  09:58:11            1          Bread       1.0
1  2016-10-30  10:05:34            2   Scandinavian       1.0
2  2016-10-30  10:05:34            2   Scandinavian       1.0
3  2016-10-30  10:07:57            3  Hot chocolate       1.0
4  2016-10-30  10:07:57            3            Jam       1.0

In [13]:
data = data[data['Item'] != 'NONE']

In [14]:
data

             Date      Time  Transaction           Item  Quantity
0      2016-10-30  09:58:11            1          Bread       1.0
1      2016-10-30  10:05:34            2   Scandinavian       1.0
2      2016-10-30  10:05:34            2   Scandinavian       1.0
3      2016-10-30  10:07:57            3  Hot chocolate       1.0
4      2016-10-30  10:07:57            3            Jam       1.0
...           ...       ...          ...            ...       ...
21288  2017-04-09  14:32:58         9682         Coffee       1.0
21289  2017-04-09  14:32:58         9682            Tea       1.0
21290  2017-04-09  14:57:06         9683         Coffee       1.0
21291  2017-04-09  14:57:06         9683         Pastry       1.0
21292  2017-04-09  15:04:24         9684      Smoothies       1.0

[20507 rows x 5 columns]

In [16]:
data1 = data[['Transaction','Item','Quantity']]
data1.head()

   Transaction           Item  Quantity
0            1          Bread       1.0
1            2   Scandinavian       1.0
2            2   Scandinavian       1.0
3            3  Hot chocolate       1.0
4            3            Jam       1.0

In [18]:
data2 = data1.groupby(['Transaction','Item'])['Quantity'].sum()
data2

Transaction  Item
1            Bread            1.0
2            Scandinavian     2.0
3            Cookies          1.0
             Hot chocolate    1.0
             Jam              1.0
                             ...
9682         Tacos/Fajita     1.0
             Tea              1.0
9683         Coffee           1.0
             Pastry           1.0
9684         Smoothies        1.0
Name: Quantity, Length: 18887, dtype: float64

In [21]:
data3 = data2.unstack()

In [22]:
data4 = data3.applymap(lambda x : 1 if x>0 else 0)
data4.head()

Item,Adjustment,Afternoon with the baker,Alfajores,Argentina Night,Art Tray,Bacon,Baguette,Bakewell,Bare Popcorn,Basket,...,The BART,The Nomad,Tiffin,Toast,Truffles,Tshirt,Valentine's card,Vegan Feast,Vegan mincepie,Victorian Sponge
Transaction,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
support = apriori(data4, min_support= 0.02, use_colnames=True)
support

     support                 itemsets
0   0.036344              (Alfajores)
1   0.327205                  (Bread)
2   0.040042                (Brownie)
3   0.103856                   (Cake)
4   0.478394                 (Coffee)
5   0.054411                (Cookies)
6   0.039197             (Farm House)
7   0.058320          (Hot chocolate)
8   0.038563                  (Juice)
9   0.061807              (Medialuna)
10  0.038457                 (Muffin)
11  0.086107                 (Pastry)
12  0.071844               (Sandwich)
13  0.029054           (Scandinavian)
14  0.034548                  (Scone)
15  0.034443                   (Soup)
16  0.142631                    (Tea)
17  0.033597                  (Toast)
18  0.020285               (Truffles)
19  0.023349            (Bread, Cake)
20  0.090016          (Bread, Coffee)
21  0.029160          (Bread, Pastry)
22  0.028104             (Bread, Tea)
23  0.054728           (Coffee, Cake)
24  0.023772              (Tea, Cake)
25  0.028209        (Cookies, Coffee)
26  0.029583  (Hot chocolate, Coffee)
27  0.020602          (Juice, Coffee)
28  0.035182      (Medialuna, Coffee)
29  0.047544         (Pastry, Coffee)
30  0.038246       (Sandwich, Coffee)
31  0.049868            (Tea, Coffee)
32  0.023666          (Toast, Coffee)

In [25]:
association = association_rules(support, metric='lift', min_threshold=1)

In [26]:
association.sort_values(by = 'lift', ascending = False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
4,(Tea),(Cake),0.142631,0.103856,0.023772,0.166667,1.604781,0.008959,1.075372
5,(Cake),(Tea),0.103856,0.142631,0.023772,0.228891,1.604781,0.008959,1.111865
19,(Coffee),(Toast),0.478394,0.033597,0.023666,0.049470,1.472431,0.007593,1.016699
18,(Toast),(Coffee),0.033597,0.478394,0.023666,0.704403,1.472431,0.007593,1.764582
13,(Coffee),(Medialuna),0.478394,0.061807,0.035182,0.073542,1.189878,0.005614,1.012667
12,(Medialuna),(Coffee),0.061807,0.478394,0.035182,0.569231,1.189878,0.005614,1.210871
15,(Coffee),(Pastry),0.478394,0.086107,0.047544,0.099382,1.154168,0.006351,1.014740
14,(Pastry),(Coffee),0.086107,0.478394,0.047544,0.552147,1.154168,0.006351,1.164682
11,(Coffee),(Juice),0.478394,0.038563,0.020602,0.043065,1.116750,0.002154,1.004705
10,(Juice),(Coffee),0.038563,0.478394,0.020602,0.534247,1.116750,0.002154,1.119919
16,(Sandwich),(Coffee),0.071844,0.478394,0.038246,0.532353,1.112792,0.003877,1.115384
17,(Coffee),(Sandwich),0.478394,0.071844,0.038246,0.079947,1.112792,0.003877,1.008807
3,(Cake),(Coffee),0.103856,0.478394,0.054728,0.526958,1.101515,0.005044,1.102664
2,(Coffee),(Cake),0.478394,0.103856,0.054728,0.114399,1.101515,0.005044,1.011905
7,(Coffee),(Cookies),0.478394,0.054411,0.028209,0.058966,1.083723,0.002179,1.004841
6,(Cookies),(Coffee),0.054411,0.478394,0.028209,0.518447,1.083723,0.002179,1.083174
9,(Coffee),(Hot chocolate),0.478394,0.058320,0.029583,0.061837,1.060311,0.001683,1.003749
8,(Hot chocolate),(Coffee),0.058320,0.478394,0.029583,0.507246,1.060311,0.001683,1.058553
0,(Bread),(Pastry),0.327205,0.086107,0.029160,0.089119,1.034977,0.000985,1.003306
1,(Pastry),(Bread),0.086107,0.327205,0.029160,0.338650,1.034977,0.000985,1.017305